@(title: String, act: Call)(body: Html)

@import helper._

<div class="panel panel-default">
    <div class="panel-heading"><h5>@title</h5></div>
    <div class="panel-body">
        @form(action = act, 'class -> "form-inline") {
        <fieldset>
            @body
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
            </div>
        </fieldset>
        }
    </div>
</div>