@(title: String = "Test", headers: List[String])(body: Html)

<div class="panel panel-default">
    <div class="panel-heading"><h4>@title</h4></div>
    <div class="panel-body">
        <table class="table table-striped table-hover sortable">
            <thead>
            <tr>
                @for(h<-headers) {
                <th>@h</th>
                }
            </tr>
            </thead>

            <tbody>
            @body
            </tbody>

        </table>
    </div>
</div>


