@(attendanceForm: Form[models.AttendanceRecordFormDataList], students: Seq[Student], selectedClassId: Long, classes: Seq[Clazz])(implicit messages: Messages)

@import helper._
@import tags._
@import layouts._
@import java.time.LocalDate

@index("Attendance") {

    <div class="page-header">
        <h2>Class Admin: Attendance</h2>
    </div>
    <p class="lead">Record attendance for selected class</p>

    <div class="panel panel-default">
        <div class="panel-heading"><h5>Select class:</h5></div>
        <div class="panel-body">
            <div class="selectClass form-group">
                <select class="form-control" id="selectClass">
                    @for(clazz <- classes) {
                    <option @if(selectedClassId == clazz.id){ selected="selected" } value=@routes.ClassAdmin.attendanceForClass(clazz.id)>@clazz.className Grade @clazz.grade</option>
                    }
                </select>
            </div>
        </div>
    </div>

    @form(action = routes.ClassAdmin.submitAttendance(selectedClassId), 'class -> "form-inline") {
        @table("Students", List("First Name", "Last Name", "Present")) {
                @for(student <- students) {
                <div style="display: none">
                @inputText(attendanceForm("Attendance Records[" + students.indexOf(student) + "].Class Id"), '_showErrors -> false, '_label -> None, '_showConstraints -> false)
                @inputText(attendanceForm("Attendance Records[" + students.indexOf(student) + "].Student Id"), '_showErrors -> false, '_label -> None, '_showConstraints -> false)
                </div>
                <tr>
                    <td class="col-xs-3">@student.firstName</td>
                    <td class="col-xs-3">@student.lastName</td>
                    <td class="col-xs-6">
                        @checkbox(attendanceForm("Attendance Records[" + students.indexOf(student) + "].Present"), '_showErrors -> false, '_label -> None, '_showConstraints -> false, 'class -> "checkbox")
                    </td>
                </tr>
                }
<tr>
    <td></td>
    <td></td>
    <td class="col-xs-6">
        <div class="pull-right">
            <button class="btn btn-primary" type="submit">Complete</button>
        </div>
    </td>
</tr>

        }

    }
}