@(clazzForm: Form[ClazzFormData], clazzes: Seq[Clazz])(implicit messages: Messages)

@import layouts._
@import helper._
@import tags._

@index("Attendance Register Application") {

    <div class="page-header">
        <h2>Class Admin</h2>
    </div>
    <p class="lead">Manage classes.</p>

    @form_add("Add new class:", routes.ClassAdmin.createClazz()) {
    <div class="form-group"> 
        <div class="col-lg-10">
        @inputText(clazzForm("Class Name"), 'class -> "form-control", 'placeholder -> "Class Name")
        </div>
    </div>
    <div class="form-group"> 
        <div class="col-lg-10">
        @inputText(clazzForm("Grade"), 'class -> "form-control form-group col-lg-10", 'placeholder -> "Grade")
        </div>
    </div>
    }

    @table("Classes", List("Class Name", "Grade", "")) {
        @for(clazz <- clazzes) {
            <tr>
                <td class="col-xs-3">@clazz.className</td>
                <td class="col-xs-3">@clazz.grade</td>
                <td class="col-xs-6">
                    <div class="btn-group btn-group-justified">
                        <a href="@routes.ClassAdmin.adminForClass(clazz.id)" class="btn btn-default">Students</a>
                        <a href="@routes.ClassAdmin.attendanceForClass(clazz.id)" class="btn btn-default">Attendance</a>
                    </div>
                </td>
            </tr>
        }
    }

}
