@(studentForm: Form[StudentFormData], selectedClassId: Long, students: Seq[Student], classes: Seq[Clazz])(implicit messages: Messages)

@import tags._
@import layouts._
@import helper._

@index("Student Admin") {

    <div class="page-header">
        <h2>Class Admin: Students</h2>
    </div>
    <p class="lead">Add new students for selected class</p>

    <div class="panel panel-default">
        <div class="panel-heading"><h5>Select class:</h5></div>
        <div class="panel-body">
                <div class="selectClass form-group">
                    <select class="form-control" id="selectClass">
                        @for(clazz <- classes) {
                        <option @if(selectedClassId == clazz.id){ selected="selected" } value=@routes.ClassAdmin.adminForClass(clazz.id)>@clazz.className Grade @clazz.grade</option>
                        }
                    </select>
                </div>
        </div>
    </div>

    @form_add("Add new student:", routes.ClassAdmin.createStudent(selectedClassId)) {
    <div class="form-group"> 
        <div class="col-lg-10">
            @inputText(studentForm("First Name"), 'class -> "form-control", 'placeholder -> "First Name")
        </div>
    </div>
    <div class="form-group"> 
        <div class="col-lg-10">
            @inputText(studentForm("Last Name"), 'class -> "form-control form-group col-lg-10", 'placeholder -> "Last Name")
        </div>
    </div>
    }

    @table("Current Students", List("First Name", "Last Name")) {
        @for(student <- students) {
            <tr>
                <td>@student.firstName</td>
                <td>@student.lastName</td>
            </tr>
        }
    }

}

