@(dailyData: Seq[DailyAttendanceRecord])

@import layouts._
@import tags._
@import org.joda.time.LocalDate

@index("Daily Report") {
<div class="page-header">
    <h2>Report for @LocalDate.now()</h2>
</div>
<p class="lead">Daily attendance report.</p>

@table("Daily Report", List("Class Name","Grade","Date", "Time", "Student Name", "Present")) {
    @for(d <- dailyData) {
    <tr>
        <td>@d.clazz.className</td>
        <td>@d.clazz.grade</td>
        <td>@d.datetime.toLocalDateTime.toLocalDate</td>
        <td>@d.datetime.toLocalDateTime.toLocalTime</td>
        <td>@d.student.firstName @d.student.lastName</td>
        <td><span class="glyphicon @if(d.present){glyphicon-ok}else{glyphicon-remove}"></span></td>
    </tr>
    }
}
}