@(termData: Seq[TermAttendanceRecord])

@import layouts._
@import tags._

@index("Term Report") {
<div class="page-header">
    <h2>Reports</h2>
</div>
<p class="lead">Term report</p>

@table("Term Report", List("Class Name", "Grade", "Student Name", "# Attended", "# Missed")) {
    @for(t <- termData) {
    <tr>
        <td>@t.className</td>
        <td>@t.grade</td>
        <td>@t.studentName</td>
        <td>@t.nrAttended</td>
        <td>@t.nrMissed</td>
    </tr>
    }
}
}