@* header Template File *@
@(param: Any)

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Welcome</a>
      <button data-target="#navbar-main" data-toggle="collapse" type="button" class="navbar-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar-main" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right nav-pills">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="@routes.Application.classes">Classes</a></li>
              <li><a href="@routes.Application.students">Students</a></li>
              <li><a href="@routes.Application.attendance">Attendance</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reports <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="@routes.Report.dailyReport">Daily Report</a></li>
              <li><a href="@routes.Report.termReport">Term Report</a></li>
            </ul>
          </li>
      </ul>
    </div>
  </div>
</div>
</div>
